body{
  padding:0;
  margin:0;
}

header{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color:#222;
  width:99%;
  padding:0.5% 0.5% 0% 0.5%;
}

.logo{
  width:50%;
}

.logo-image{
  cursor: pointer;
}

.menubar{
  width:50%;
  display:flex;
  flex-flow: column wrap;
  justify-content: flex-end;
}

.menubar_list{
  padding:0;
  margin:0;
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
}

.menubar_list li{
  padding:15px;
  background-color: transparent;
  transition: border-bottom 0.5s;
}

.menubar_list li:hover{
  background-color: rgba(0,0,0,0.8);
  border-bottom:5px solid red;
}

.menubar_list li a{
  text-decoration: none;
  color:#eee;
  font-weight: bolder;
  font-size: 20px;
}

.proverb{
  text-align: center;
  padding:1%;
  font-weight: bolder;
  font-size: 40px;
  color:black;
  background: linear-gradient(to bottom,#eee,rgba(0,0,0,0.05),rgba(0,0,0,0.09),rgba(0,0,0,0.1),rgba(0,0,0,0.15),white);
}

.proverb h4{
  margin:0;
  padding:0;
}

.social_media{
  position:fixed;
  top:25%;
  width:100px;
  left:-64px;
  border:1px solid grey;
  display:flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: transform 1s;
  background: white;
}

.media_link{
  display:flex;
  flex-flow: column wrap;
  justify-content: center;
}

.find-img{
  width:50px;
  height:50px;
}

.find-img:hover{
  transform:scale(1.2);
}

.find{
  height: 100%;
  width: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.social_media:hover{
  transform: translate(64px,0px);
}

footer{
  text-align: center;
  color:white;
  background-color: #222;
  width:99%;
  display:flex;
  flex-flow: column wrap;
  align-items: center;
  padding:0.5%;
}

.footer_menu{
  display:flex;
  flex-flow:row wrap;
  justify-content: space-around;
  width:45%;
  list-style: none;
}

.footer_menu li{
  margin-bottom: 5px;
}

.footer_menu li a{
  text-decoration: none;
  color:#eee;
}

@media all and (max-width:800px){
  header{
    display:flex;
    flex-flow: column wrap;
  }
  .logo{
    width:100%;
    text-align: center;
  }
  .menubar{
    width:100%;
    text-align: center;
  }
  .menubar_list{
    display:flex;
    flex-flow: column wrap;
  }
  .footer_menu{
    flex-flow: column wrap;
  }
}
