section{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.contact_form{
  margin:25px 2% 80px 2%;
  width:30%;
  padding: 15px 1%;
  box-shadow: 10px 10px 3px 3px rgba(0,0,0,1), -10px -10px 3px 3px rgba(0,0,0,1);
  border-radius: 5%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color:#eee;
  background-color: #222;
  font-family: "Russo One";
  border:2px solid white;
}

.data{
  width:98%;
  padding:1%;
}

.topic_data{
  display:flex;
  flex-flow: column wrap;
  padding:1%;
  width:98%;
}

.topic_data input{
  height:35px;
  width:72%;
  border: none;
  border-radius: 5%;
  padding: 0px 14%;
  font-weight: bold;
}

.topic_data label{
  position: relative;
}
.name::before{
  position: absolute;
  content:url(../images/pdetail.png);
  left:1%;
  top:100%;
}

.email::before{
  position: absolute;
  content:url(../images/email.png);
  left:1%;
  top:110%;
}

.mob::before{
  position: absolute;
  content:url(../images/mob.png);
  left:1%;
  top:100%;
}

textarea{
  resize: none;
  padding:2px 2%;
  width:96%;
  font-weight: bold;
}

.btn_submit{
  height:35px;
  border-radius: 5%;
  color:#111;
  font-weight: bold;
  font-size: 20px;
  font-family: "Russo One";
  margin:1%;
  position: relative;
  transition: transform 2s;
}

@media all and (max-width:1200px){
  .contact_form{
    width:42%;
  }

  .data{
    width: 88%;
  }
}

@media all and (max-width:700px){
  .contact_form{
    width:92%;
  }

  .data{
    width: 90%;
  }
}
