.content{
  padding:0.5%;
  width:99%;
  display:flex;
  flex-flow:flex wrap;
  align-items:center;
  color:skyblue;
  font-family: "Russo One";
}

.image-container{
  padding:5%;
  width:20%;
}

.details{
  width:75%;
  padding:15px 0.5%;
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.personal, .education, .course, .skill, .profession, .activity{
  width:40%;
  background-color:rgba(35,30,35,0.4);
  padding:1px 0.5%;
  margin-bottom:35px;
  border-radius:5%;
  transition: transform 1s;
  border:2px solid green;
  box-shadow: 10px 10px 3px 3px rgba(100,200,52,0.25), -10px -10px 3px 3px rgba(100,200,52,0.25);
}

.personal:hover, .education:hover, .course:hover, .skill:hover, .profession:hover, .activity:hover{
  transform: scale(1.03);
}

.title_personal, .title_education, .title_course, .title_skill, .title_profession, .title_activity{
  font-weight: bold;
  color:lightgreen;
}

.title_personal::before{
  content:url(../images/pdetail.png);
}

.title_education::before{
  content:url(../images/edu.png);
}

.title_course::before{
  content:url(../images/course.png);
}

.title_skill::before{
  content:url(../images/skill.png);
}

.title_profession::before{
  content:url(../images/prof.png);
}

.title_activity::before{
  content:url(../images/activity.png);
}

.data{
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.caption{
  width:39%;
}

.value{
  width:60%;
}

.edu_list, .skill_list{
  margin:0;
  padding:0;
}

@media all and (max-width:1100px){

  .content{
    flex-flow: column wrap;
  }

  .image-container{
    width:100%;
    padding:0%;
    text-align: center;
  }

  .my-img{
    width:100px;
    height:200px;
  }

  .details{
    display:flex;
    flex-flow:column wrap;
    align-items: center;
    width:95%;
    padding:0;
    padding-top: 35px;
  }
  .personal, .education, .course, .skill, .profession, .activity{
    width:50%;
    margin-bottom: 35px;
  }

  .personal:hover, .education:hover, .course:hover, .skill:hover, .profession:hover, .activity:hover{
    transform: scale(1);
  }
}

@media all and (max-width:800px){


  .image-container{
    width:100%;
    padding:0%;
    text-align: center;
  }

  .my-img{
    width:100px;
    height:200px;
  }

  .details{
    display:flex;
    flex-flow:column wrap;
    align-items: center;
    width:95%;
    padding:0;
    padding-top: 35px;
  }
  .personal, .education, .course, .skill, .profession, .activity{
    width:100%;
    margin-bottom: 35px;
  }

  .personal:hover, .education:hover, .course:hover, .skill:hover, .profession:hover, .activity:hover{
    transform: scale(1);
  }
}
